/*  */

@charset "UTF-8";

*{
	margin : 0;
	padding : 0;
}

div.myphoto1 {
	position : relative;
	left : 30px;
	top : 30px;
	width : 120px;
	height : 100px;
	padding : 10px;
	background : #cbcb96;
	box-shadow : 1px 1px 5px rgba(0, 0, 0, 0.5);
	/* div 태그가 속성이 바뀔 때의 변화 속도를 지정 */
	-moz-transition : all 10s linear;
}

div.myphoto1:hover {
	transform : rotate(25deg);
	-webkit-transform : rotate(180deg);
	-moz-transform : rotate(180deg);
	-o-transform : rotate(180deg);
	-ms-transform : rotate(180deg);
	/* transform : scale(2, 2);
	-webkit-transform : scale(2, 2);
	-moz-transform : scale(2, 2);
	-o-transform : scale(2, 2);
	-ms-transform : scale(2, 2); */
	/* -moz-transform : skew(15deg, 15deg); */
	/* -moz-transform : translate(100px, 100px); */
	-moz-transition : all 2s ease-out;
}