<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page4</title>
</head>
<body>
<h2>멀티미어 관련 태그</h2>
<a href="../../resources/multi/major.mp3">major.mp3 파일 재생</a>
<br>
<embed src="../../resources/multi/major.mp3" autostart="false"
loop="1" hidden="false">
<br>
<!-- <audio src="../../resources/multi/major.mp3" autoplay controls
loop="1"/> -->
<audio controls>
	<source src="../../resources/multi/major.mp3">
	<source src="../../resources/multi/major.ogg">
	<source src="../../resources/multi/major.wac">
	<source src="../../resources/multi/major.AAC">
</audio>
<br>
<hr>
<h3>동영상 재생 태그</h3>
<video src="../../resources/multi/video1.mp4" width="400"
height="300" autoplay controls loop="1" 
poster="../../resources/images/flower1.jpg"></video>
<br>
<img src="../../resources/images/floer1.jpg"width="400"height="300" border="1"alt="연습용 이미지입니다."/>



</body>
</html>











