<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>page2</title>
</head>
<body background="../../resources/images/flower5.jpg">
<a name="top"/>
HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어 ‘HTML(Hyper Text Markup Language)’의 최신규격이다. HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을 구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 그래픽 효과를 낼 수 있다.
HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어 ‘HTML(Hyper Text Markup Language)’의 최신규격이다. HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을 구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 그래픽 효과를 낼 수 있다.
<br>
<hr>
HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어 ‘HTML(Hyper Text Markup Language)’의 최신규격이다. HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을 구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 그래픽 효과를 낼 수 있다.
<p align="center" style="background-color:orange; width:500px; border:1px solid navy;""> <!-- paragraph 의 줄임말, 문단을 의미함. 영역을 만들 때 사용함 -->
HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어 ‘HTML(Hyper Text Markup Language)’의 최신규격이다. HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을 구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 그래픽 효과를 낼 수 있다.
HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어 ‘HTML(Hyper Text Markup Language)’의 최신규격이다. HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을 구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 그래픽 효과를 낼 수 있다.
</p>
HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어 ‘HTML(Hyper Text Markup Language)’의 최신규격이다. HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을 구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 그래픽 효과를 낼 수 있다.
<p/><!-- 시작태그명 뒤에/ 사용하면 닫기 태그 생략을 의미함 
문단영역으로 사용하지 않고, br 태그처럼 사용할 수 도 있다.
줄바꾸면서 문단취급처럼 한줄의 여백을 만들어줌.-->
<hr>
<div style="float:left;width:200px; height:100px; border:2px dashed red; background:yellow;"><!-- division 의 줄임말, 영역(구역) 표시용으로 사용함. -->
영역1
</div>
<div style="float:left;width:200px; height:100px; border:2px dashed red; background:yellow;">
영역2
</div>
<div style="float:left;width:200px; height:100px; border:2px dashed red; background:yellow;">
영역3
</div>




<br style="clear:both;">
<a href="#top">맨위로</a>
<a name="bottom"/>
<br>
<a href="../../index.html#position2">index.html 의  position2위치로 이동</a>
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>








