<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<title>page1</title>
<style type="text/css">
iframe{
	position: relative;/*상대위치로 지정*/
	z-index:2; /*z 축 순번, 페이지 위에 떠 있는 효과*/
	left: -300px; /*왼쪽으로 300픽셀 이동*/
	top: -300px; /*위로 300픽셀 이동*/
	opacity:0.4; /*투명도*/
}
</style>
</head>
<body>
<h1> 서식관련 태그 문서</h1>
<hr>

<font size="5" color="puple"><i><b>[올챙이와 개구리]</b></i>
 윤현진 작사 윤현진 작곡
</font>
<br><br>

<font size="3" color="blue">개울가에 <u>올챙이 한마리</u> 꼬물꼬물 헤엄치다 
</font>
<br><br>

<font size="3" color="gray"><u><i>뒷다리가 쑥 앞다리가 쑥 </i></u>
팔딱팔딱 개구리됐네 
</font>
<br><br>

<font size="3" color="maroon">꼬물꼬물 꼬물꼬물 꼬물꼬물 올챙이가 
</font>
<br><br>

<font size="3" color="black"><u><i><b>뒷다리가 쑥 앞다리가</b></i></u>
쑥 팔딱팔딱 개구리됐네
</font>
<br><br>

<font size="4" color="red">[뚱보 아저씨] 이요섭 작사 이요섭 작곡</font>
<br><br>
<sub>뚱보 아저씨</sub> 집에는 일곱명의 아들이 <sup>있었는데요</sup>
<br><br>
그 중에 하나 키가 <big> 크 고 요 </big> 나머지는 <small> 작 대 요</small>
<br><br>
<tt>오른손 올려요</tt> 왼손 올려요 <strike>고개를 흔들어요 엉덩이를 흔들어요</strike>
<strike>

<iframe src="page3.html" width="300"height="300"></iframe>

</strike>
</body>
</html>


