<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor="#6699ff">
<pre>
          ★
         ★★
        ★★★
       ★★★★
</pre>	

<p/>
<h3>순번이 매겨지는 목록 만들기 : ol (Order List)</h3>
<ol type="A">
<li>java</li>
<li>oracle</li>
<li>html5</li>
<li>css</li>
<li>javascript</li>
</ol>

<hr>

<h3>순번이 매겨지지 않는 목록 : ul (Unorder List)</h3>
<ul type="square">
<li>java</li>
<li>oracle</li>
<li>html5</li>
<li>css</li>
<li>javascript</li>
</ul>

<hr>

<h3>용어와 설명을 목록으로 묶을 때 사용 : dl (Definition List)</h3>
<dl>
<dt></dt>
	<dd>HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어
	 ‘HTML(Hyper Text Markup Language)’의 최신규격이다.
	  HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을
	   구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 
	   자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 
	   그래픽 효과를 낼 수 있다.</dd>
<dt></dt>
	<dd>HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어
	 ‘HTML(Hyper Text Markup Language)’의 최신규격이다.
	  HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을
	   구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 
	   자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 
	   그래픽 효과를 낼 수 있다.</dd>
<dt></dt>
	<dd>HTML5는 웹 문서를 만들기 위한 기본 프로그래밍 언어
	 ‘HTML(Hyper Text Markup Language)’의 최신규격이다.
	  HTML5는 엑티브X(Active X)를 설치하지 않아도 동일한 기능을
	   구현할 수 있고, 특히 플래시(flash)나 실버라이트(Silverlight), 
	   자바FX(JAVA FX) 없이도 웹 브라우저(web browser)에서 화려한 
	   그래픽 효과를 낼 수 있다.</dd>
</dl>


</body>
</html>